body {
  font: 14px "SF Pro", "Lucida Grande", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  text-align: center;}

a {
  color: #00B7FF;
}
